body {
  margin: 0;
  padding: 0;
  background-color: #6cbef0;
  display: flex;
  align-items: center;
  font-family: 'Fredoka One', cursive;
  justify-content: center;
}

.pic {
  height: 99.3vh;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: 30%;
}

.input {
  width: 70%;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.button {
  width: 50%;
  height: 15%;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #357740;
  font-size: 1rem;
  font-family: 'Fredoka One', cursive;
}




.button:hover {
  background-color: #25542d;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}

.footer {
  text-align: center;
}

.footer a {
  color: #53B2C8;
}

/* form starting stylings ------------------------------- */

.group {
  margin-top: 2rem;
  position: relative;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */

input:focus~label, input:valid~label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}

/* BOTTOM BARS ================================= */

.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */

input:focus~.bar:before, input:focus~.bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */

input:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
